In [2]:
import pandas as pd
import xml.etree.ElementTree as et

In [4]:
FILE_PATH = '/content/drive/MyDrive/Colab Notebooks/Test/'

In [7]:
df = pd.read_csv(FILE_PATH + '교차_아파트.csv', encoding='cp949')

In [8]:
df.head

<bound method NDFrame.head of              id        left  ...           A20         A21
0        154960  191644.686  ...  0.000000e+00  2021/07/22
1        154960  191644.686  ...  2.496667e+08  2021/07/22
2        154960  191644.686  ...  2.589535e+08  2021/07/22
3        154960  191644.686  ...  2.474444e+08  2021/07/22
4        154960  191644.686  ...  2.941716e+08  2021/07/22
...         ...         ...  ...           ...         ...
6495980  154961  191644.686  ...  4.388056e+08  2021/07/22
6495981  154961  191644.686  ...  3.001579e+08  2021/07/22
6495982  154961  191644.686  ...  3.174286e+08  2021/07/22
6495983  154961  191644.686  ...  4.444000e+09  2021/07/22
6495984  154961  191644.686  ...  3.068947e+08  2021/07/22

[6495985 rows x 27 columns]>

In [18]:
test_df = df.iloc[0:500, :]
test_df.head

<bound method NDFrame.head of          id        left          top  ...           A19           A20         A21
0    154960  191644.686  451037.2122  ...  0.000000e+00  0.000000e+00  2021/07/22
1    154960  191644.686  451037.2122  ...  2.736667e+08  2.496667e+08  2021/07/22
2    154960  191644.686  451037.2122  ...  3.123488e+08  2.589535e+08  2021/07/22
3    154960  191644.686  451037.2122  ...  2.774444e+08  2.474444e+08  2021/07/22
4    154960  191644.686  451037.2122  ...  3.280597e+08  2.941716e+08  2021/07/22
..      ...         ...          ...  ...           ...           ...         ...
495  154959  191644.686  451087.2122  ...  2.782791e+08  2.479070e+08  2021/07/22
496  154959  191644.686  451087.2122  ...  2.709744e+08  2.407949e+08  2021/07/22
497  154959  191644.686  451087.2122  ...  2.956000e+09  2.817000e+09  2021/07/22
498  154959  191644.686  451087.2122  ...  2.115833e+08  2.012500e+08  2021/07/22
499  154959  191644.686  451087.2122  ...  2.774444e+08  2.474444e+08  2021/07/22

[500 rows x 27 columns]>

In [25]:
new_df = df.iloc[:,0:2]

In [26]:
new_df.head

<bound method NDFrame.head of              id        left
0        154960  191644.686
1        154960  191644.686
2        154960  191644.686
3        154960  191644.686
4        154960  191644.686
...         ...         ...
6495980  154961  191644.686
6495981  154961  191644.686
6495982  154961  191644.686
6495983  154961  191644.686
6495984  154961  191644.686

[6495985 rows x 2 columns]>

In [27]:
new_df['count'] = new_df.groupby(['id'])['left'].transform('count')

In [29]:
export_df = new_df.drop_duplicates(['id'])

In [32]:
export_df = export_df.loc[:,['id', 'count']]
export_df

             id  count
0        154960     58
58       154967     44
102      154966     48
150      154965     48
198      154964     51
...         ...    ...
6495768  154973     26
6495794  154972     30
6495824  154963     53
6495877  154962     54
6495931  154961     54

[193481 rows x 2 columns]